#form-upload-post {
    display: flex;
    flex-direction: column;
}

#form-upload-post>* {
    padding: 1%;
    margin: 1%;
    font-size: 1.3em;
}

#upload-post-btn {
    padding: 2%;
    border-radius: 10px;
    background-color: #d3d3d3;
    margin-top: 20px;
    cursor: pointer;
    color: #171717;
    transition: all .5s;

    &:hover {
        transition: all .5s;
        background-color: #171717;
        box-shadow: 0 0 6px 3px #171717;
        color: white;
    }
}