:root {
  --twitch-purple: #9147ff;
}

* {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  color: white;
  font-family: "Inter", "Roobert", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: #1b1b1b;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  color: white;
  width: fit-content;
  margin: auto;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {
  color: white;
  margin: auto;
  width: fit-content;
}

#form-div {
  text-align: center;
  background-color: var(--twitch-purple);
  padding: 1.5em;
  border-radius: 2em;
  box-shadow: 0 0 6px 3px var(--twitch-purple);
}

input,
textarea {
  background-color: inherit;
  border: 2px solid white;
  border-radius: 10px;
}

button {
  color: black;
}

/* #posts-div {
  max-width: 50%;
  margin: auto;
} */

.post {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--twitch-purple);
  padding: 1%;
  border-radius: 10px;
  min-width: 20vw;
  max-width: 80%;
}

#delete-post-btn {
  margin-right: 0;
}

.comment-date {
  text-decoration: underline;
}