#top-nav {
    background-color: #9147ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#nav-user-icon {
    max-width: 45px;
    aspect-ratio: 1/1;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .2% 1%;
    border-radius: .5vw;
    text-decoration: none;
    font-size: large;
    color: rgba(255, 255, 255, 0.8);
    margin: 5px;
}

.nav-buttons:hover{
    background-color: darkgray;
    color: black;
}